#root {
  > .dumi-default-doc-layout {
    > .dumi-default-header {
      margin-bottom: 2px;
      box-shadow: 0 2px 8px #f0f1f2;

      > .dumi-default-header-content {
        > .dumi-default-header-left {
          width: auto;
          margin-right: 40px;

          > .dumi-default-logo {
            animation: show-logo 2s ease-in-out;
          }

          @keyframes show-logo {
            0% {
              letter-spacing: -13px;
              filter: blur(1px);
            }

            100% {
              letter-spacing: 0;
              filter: blur(0);
            }
          }
        }
      }
    }

    > main {
      > .dumi-default-sidebar {
        width: 206px;
      }
    }
  }
}
